.App {
  text-align: center;
}
.btn {
  background-color: white;
  font: inherit;
  border: 1px solid black;
  padding: 8px;
  cursor: pointer;
}

.green_bg {
  background-color: lightseagreen;
  transition: .5s;
}
.red_bg {
  background-color: palevioletred;
  transition: .5s;
}
.text_red{
  color: red;
}
.text_bold{
  font-weight: bold;
}
